server_ip				80.211.132.243
velesd:rpcuser			uf3i6MW3AC
velesd:rpcpassword		ZcyzgbgXiIWzWTbpIQeFV
velesd:mnkey			87TPAEithEQve22SkFUX5YBcU7kN6CwFgoyBiZcgtgXuIWzWTbppIQeFV
velesctl:rpcuser		YmegocQHH7Ye
velesctl:rpcpassword	YeRWFzeS1SU0EgR2VuZXJx
mn:signing_key			VWyQFxniu8XkWPhW3LtC9jBUvQpRYpF3Sq
